@use "sass:list";

$sprite-url: '../img/flags32.png';
$sprite-item-width: 32px;
$sprite-item-height: 32px;
$flags:
and,
are,
afg,
atg,
aia,
alb,
arm,
ago,
ata,
arg,
asm,
aut,
aus,
abw,
ala,
aze,
bih,
brb,
bgd,
bel,
bfa,
bgr,
bhr,
bdi,
ben,
bmu,
brn,
bol,
bra,
bhs,
btn,
bwa,
blr,
blz,
can,
cod,
rca,
cog,
che,
civ,
cok,
chl,
cmr,
chn,
col,
cri,
cub,
cpv,
cyp,
cze,
deu,
dji,
dnk,
dma,
dom,
dza,
ecu,
est,
egy,
esh,
eri,
esp,
eth,
fin,
fji,
fsm,
fro,
fra,
gab,
gbr,
grd,
geo,
ggy,
gha,
gib,
grl,
gmb,
gin,
glp,
gnq,
grc,
gtm,
gum,
gnb,
guy,
hkg,
hnd,
hrv,
hti,
hun,
mco,
idn,
isr,
imn,
ind,
irq,
irn,
isl,
ita,
jey,
jam,
jor,
jpn,
ken,
kgz,
khm,
kir,
com,
kna,
prk,
kor,
kwt,
cym,
kaz,
lao,
lbn,
lca,
lie,
lka,
lbr,
lso,
ltu,
lux,
lva,
lby,
mar,
mda,
mne,
mdg,
mhl,
mkd,
mli,
mmr,
mng,
mac,
mtq,
mrt,
msr,
mlt,
mus,
mdv,
mwi,
mex,
mys,
moz,
nam,
ncl,
ner,
nga,
nic,
nld,
nor,
npl,
nru,
nzl,
omn,
pan,
per,
pyf,
png,
phl,
pak,
pol,
pri,
pse,
prt,
plw,
pry,
qat,
reu,
rou,
srb,
rus,
rwa,
sau,
slb,
syc,
sdn,
swe,
sgp,
svn,
svk,
sle,
smr,
sen,
som,
sur,
stp,
slv,
syr,
swz,
tca,
tcd,
tgo,
tha,
tjk,
tls,
tkm,
tun,
ton,
tur,
tto,
tuv,
twn,
tza,
ukr,
uga,
usa,
ury,
uzb,
vat,
vct,
ven,
vgb,
vir,
vnm,
vut,
wsm,
yem,
zaf,
zmb,
zwe,
sxm,
cuw,
ssd,
niu;

$color1: #888;
$color2: #555;

// containers
#foo, #bar, #baz {
    min-height: 2em;
    width: auto;
    padding: 1em;
}
legend { font-family: monospace, monospace }

// widget
.medal-count {
    font-family: Arial, Helvetica, sans-serif;
    color: $color1;
    .error {
        background-color: #fcc;
        padding: 1em;
        width: 21em;
    }
    h1 { font-size: 1.4em; font-weight: 500}
    ul {
        width: 23em;
        padding: 0;
        list-style-type: none;
        span {
            display: inline-block;

            &.spacer { width: 10em }

            &.idx { width: 2em; text-align: right; padding-right: 1em }
            &.flag { width: 3em; vertical-align: middle }
            &.code { width: 4em; font-weight: 600; text-align: left }
            &.gold {
                width: 3em;
                text-align: center;
                .circle { background-color: #ffd700 }
            }
            &.silver {
                width: 3em;
                text-align: center;
                .circle { background-color: #c4cace }
            }
            &.bronze {
                width: 3em;
                text-align: center;
                .circle { background-color: #b1560f }
            }
            &.total {
                width: 4em;
                text-align: center;
                color: $color2;
                font-weight: 600;
            }

            &.circle {
              height: 1.2em;
              width: 1.2em;
              border-radius: 50%;
              display: inline-block;
              cursor: pointer;
              margin-bottom: -.2em
            }
            &.active {
                border-top: 2px solid $color1;
            }

        }
        li {
            vertical-align: middle;
            line-height: 2em;
            border-bottom: 1px solid $color1;
            &.hdr {
                border-bottom: 2px solid $color1;
                .total {
                    cursor: pointer;
                    color: $color2;
                    font-weight: 400;
                }
            }
        }

    }
    .flag {
        background-image: url($sprite-url);
        background-repeat: no-repeat;
        width: $sprite-item-width;
        height: $sprite-item-height;
        @each $flag in $flags {
            &.#{$flag} {
                background-position: 0 (-672px - (index($flags, $flag) * $sprite-item-height));
            }
        }
    }
}


